In [1]:
import pandas as pd

In [6]:
ls

Health Care Case Study.ipynb
Health_Care_for_All_Case_Study.md
Healthcare Case Study - Ayse.ipynb
Notebook_Code_Along_Intro_To_Pandas_Healthcare_For_All.ipynb
helathcareforall.csv

In [8]:
health4all = pd.read_csv("./helathcareforall.csv")

In [9]:
health4all

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [11]:
#lower
health4all=health4all.rename(columns=str.lower)

health4all

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [13]:
#rename column

health4all.rename(columns={"hv1":"med_home_value_hun","ic1":"med_houshold_inc_hun","ic2":"med_family_income","ic3":"med_fam_income","ic4":"avg_household_income","hvp1":"per_hom_value", "ic5": "per_capita_income", "pobc1": "per_foreign_born", "pobc2": "per_born_state_res"}, inplace=True )

In [14]:
health4all.head(10)

,controln,state,gender,med_home_value_hun,med_houshold_inc_hun,avg_household_income,per_hom_value,per_capita_income,per_foreign_born,per_born_state_res,med_family_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
5,100640,IL,M,764.00,457,501.0,1,16022,2,75,477.0,480,25.571429,1,6104,S2,30.0
6,18581,NC,female,775.00,318,419.0,5,13491,0,73,364.0,380,4.625000,0,4407,R2,12.0
7,119038,TX,M,890.00,519,560.0,0,17872,2,46,525.0,551,6.175000,1002,0,C1,7.0
8,173223,CA,F,NaN,184,250.0,0,8708,2,63,206.0,235,8.818182,0,1801,T2,10.0
9,157988,CA,F,AAA2294,593,617.0,61,17838,7,62,NaN,619,6.666667,28,0,S1,10.0

In [15]:
#state typo

health4all.state.unique()

array(['FL', 'IL', 'NC', 'TX', 'CA', 'NV', 'Cali', 'AP', 'KS', 'MI', 'OK',
       'AR', 'IN', 'MT', 'WI', 'MO', 'HI', 'UT', 'GA', 'WA', 'ID', 'CT',
       'AL', 'ND', 'SC', 'IA', 'CO', 'LA', 'OR', 'SD', 'TN', 'NM', 'AZ',
       'MN', 'KY', 'NJ', 'NE', 'California', 'MS', 'NY', 'Arizona', 'WY',
       'Tennessee'], dtype=object)

SyntaxError: invalid syntax (<ipython-input-22-636940c92921>, line 1)